* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

.header {
    position: relative;
    height: 300px;
    overflow: hidden;
}

.login-container {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 50vh;
}


.login {
    width: 80%;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}


.logo-svg {
    position: absolute;
    top: 0px;
}

.logo-svg {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 8px;
    margin-left: 10px;
}

.ride {
    margin-left: 10px;
    font-size: 39.15px;
}



.my-lib-ui-input {
    padding: 18px 12px 18px 16px;
    width: 100%;
    background-color: #F9F9F9;
    border: 0px;
    color: #C00000;
}

input:focus {
    border-bottom: 2px solid black;
    outline: none;
}

.my-lib-ui-label {
    top: 5px;
    left: 15px;
    position: absolute;
    font-size: 10px;
    color: black;
}

.my-lib-ui-label-svg {
    height: 20px;
    width: 20px;
    top: 12px;
    right: 15px;
    position: absolute;

}

.container-input {
    width: 100%;


    background-color: white;
    border-bottom: 1px solid #C00000;
}

.container-input-text {
    width: 100%;

    /* position: absolute; */


    background-color: white;
    border-bottom: 1px solid #C00000;

}

button {
    background-color: #C00000;
    border: 0;
    color: white;
    text-align: center;
    padding: 12px 16px 12px 16px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
}

.container-input-button {
    display: flex;
    flex-direction: column;
    gap: 15px;

}